/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/


@font-face {
	font-family: Verdana-Bold;
	src: url('../fonts/verdana-bold.ttf') format("opentype");
}
@font-face {
	font-family: Verdana-Regular;
	src: url('../fonts/verdana-regular.TTF') format("opentype");
}
@font-face {
	font-family: Verdana-Italic;
	src: url('../fonts/verdana-italic.ttf') format("opentype");
}


body {
 
  background-color: #ffffff;
  
}

a {
  font-family: Verdana-Regular;
  color: #7B6E5F;
  text-transform: uppercase;
  
}



a:hover {

}

h1 {
 

}


h2, h3, h4, h5, h6 {
 

}

h3, h4, h5, h6 {
  
  

}

p {
color: #606064;
 font-size: 18px;
 font-family: Verdana-Regular;
}



p span {

 

}


/* colours */
.color-violet {
  background-color: #603075;
}
.color-indigo {
  background-color: #00339F;
}
.color-blue {
  background-color: #2BABE2;
}
.color-green {
  background-color: #94C13D;
}
.color-yellow {
  background-color: #FAEB33;
}
.color-orange {
  background-color: #E95F24;
}
.color-red {
  background-color: #0071CE;
}

.slidervertical {
  margin-top: 25px;
}

.blue {
--color: #08b2e3;
}

.yellow {
--color: #edae49;
}

.orange {
--color: #f18805;
}

.green {
--color: #76b041;
}

.brown {
--color: #916953;
}

.red {
--color: #e3655b;
}

.pink {
--color: #ec318c;
}



/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #978548;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: #AC121B;
  color: #fff;
  transition: all 0.5s;
}

.back-to-top i:hover {
  background: #7c0d14;
  color: #fff;
}

/*--------------------------------------------------------------
# Header-Menu
--------------------------------------------------------------*/

.outer-menu {
  
  z-index: 1;

}
.outer-menu .checkbox-toggle {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 60px;
  height: 60px;
  opacity: 0;
}
.outer-menu .checkbox-toggle:checked + .hamburger > div {
  transform: rotate(135deg);
}
.outer-menu .checkbox-toggle:checked + .hamburger > div:before,
.outer-menu .checkbox-toggle:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}
.outer-menu .checkbox-toggle:checked + .hamburger > div:after {
  opacity: 0;
}
.outer-menu .checkbox-toggle:checked ~ .menu {
  pointer-events: auto;
  visibility: visible;
}
.outer-menu .checkbox-toggle:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: 0.75s;
}
.outer-menu .checkbox-toggle:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}
.outer-menu .checkbox-toggle:hover + .hamburger {
  box-shadow: none;
}
.outer-menu .checkbox-toggle:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}
.outer-menu .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 0.5em 1em;
  
  border-radius: 0 0.12em 0.12em 0;
  cursor: pointer;
  transition: box-shadow 0.4s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.outer-menu .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: #303030;
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.outer-menu .hamburger > div:before,
.outer-menu .hamburger > div:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background: inherit;
  transition: all 0.4s ease;
}
.outer-menu .hamburger > div:after {
  top: 10px;
}
.outer-menu .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  visibility: hidden;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  outline: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.outer-menu .menu > div {
  width: 200vw;
  height: 200vw;
  color: #FEFEFE;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  transition: all 0.4s ease;
  flex: none;
  transform: scale(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 
.outer-menu .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
  overflow-y: auto;
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.outer-menu .menu > div > div > ul {
  list-style: none;
  padding: 0 1em;
  margin: 0;
  display: block;
  max-height: 100vh;
}
.outer-menu .menu > div > div > ul > li {
  padding: 0;
  margin: 1em;
  font-size: 24px;
  display: block;
} */
.outer-menu .menu > div > div > ul > li > a {
  position: relative;
  display: inline;
  cursor: pointer;
  transition: color 0.4s ease;
}
.outer-menu .menu > div > div > ul > li > a:hover {
  color: #e5e5e5;
}
.outer-menu .menu > div > div > ul > li > a:hover:after {
  width: 100%;
}
.outer-menu .menu > div > div > ul > li > a:after {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: -0.15em;
  left: 0;
  width: 0;
  height: 2px;
  background: #e5e5e5;
  transition: width 0.4s ease;
}

.navbar {
  position: absolute;
 
}


.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  color: black;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  overflow: visible;
}

.scroll-down .arrow {

position: relative;
top: -4px;
margin: 0 auto;
width: 20px;
height: 20px;
background-image: url(../img/home/downarrow.svg);
background-size: contain;

}
/*--------------------------------------------------------------
# HOME
--------------------------------------------------------------*/

.contsvg30 {

  position: absolute;
    z-index: 1000;
    left: 200px;
    top: 105px;
    width: 750px;

}


#section0 {
  background-image: url(../img/home/bg-slide1.png);
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
}

#section1 {
  background-image: url(../img/home/bg-slide2.png);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

#section2 {
  background-image: url(../img/home/bg-slide3.png);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}



/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #E4DFCF;

  
 
  width: 100%;
 
}




/*--------------------------------------------------------------
# MOBILE
--------------------------------------------------------------*/


/* #RESPONSIVE - START*/
/* Landscape */
@media only screen and (max-device-width: 1024px) and (orientation: landscape) {
  



}

@media only screen and (max-device-width: 768px) and (orientation: portrait) {
 


}

@media only screen and (max-device-width: 680px) and (orientation: portrait) {
  


}

/* #RESPONSIVE - END*/





/*-END  MOBILE-*/  

