/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/


@font-face {
	font-family: Verdana-Bold;
	src: url('../fonts/verdana-bold.ttf') format("opentype");
}
@font-face {
	font-family: Verdana-Regular;
	src: url('../fonts/verdana-regular.TTF') format("opentype");
}
@font-face {
	font-family: Verdana-Italic;
	src: url('../fonts/verdana-italic.ttf') format("opentype");
}


body {
 
  background-color: #ffffff;
  overflow-x: hidden;
  
}

a {
  font-family: Verdana-Regular;
  color: #272727;
  
}
a strong{
  font-family: Verdana-Bold;
}



a:hover {

}

h1 {
 

}


h2, h3, h4, h5, h6 {
 

}

h3, h4, h5, h6 {
  
  

}

p {
 color: #606064;
 font-size: 16px;
 font-family: Verdana-Regular;
}
p strong{
  font-family: Verdana-Bold;
}


p span {


}

/* Text styles */
.title{
  font-size: 100px;
  line-height: 110px;
  font-family: Verdana-Bold;
  text-transform: uppercase;
}
.underlined-title{
  font-size: 32px;
  line-height: 40px;
  font-family: Verdana-Bold;
  text-transform: uppercase;
  padding: 4px 10px;
}
.subtitle{
  font-size: 36px;
  line-height: 44px;
  font-family: Verdana-Bold;
  text-transform: uppercase;
}
.subtitle-normal{
  font-size: 24px;
  line-height: 27px;
  font-family: Verdana-Bold;
}
.small-subtitle{
  font-size: 22px;
  line-height: 27px;
  font-family: Verdana-Bold;
  text-transform: uppercase;
}
.underlined-text{
  font-size: 18px;
  line-height: 34px;
  font-family: Verdana-Bold;
  text-transform: uppercase;
}
.underlined-text-normal{
  font-size: 18px;
  line-height: 34px;
  font-family: Verdana-Bold;
}
mark {
  padding: 0.1em 0.4em;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}


/* TYPO COLORS */
.text-white{
  color: #ffffff !important;
}
.text-orange{
  color: #f58025 !important;
}
.text-magenta{
  color: #e20177 !important;
}


/* colours */
.color-violet {
  background-color: #603075;
}
.color-indigo {
  background-color: #00339F;
}
.color-blue {
  background-color: #2BABE2;
}
.color-white {
  background-color: #ffffff;
}
.color-green {
  background-color: #94C13D;
}
.color-green-2 {
  background-color: #24AD9E;
}
.color-yellow {
  background-color: #FAEB33;
}
.color-orange {
  background-color: #f58025;
}
.color-red {
  background-color: #0071CE;
}
.color-magenta-1 {
  background-color: #e20177;
}

.color-blue-4 {
  background-color: #126A92;
}

.color-grey-4 {
  background-color: #495B6C;
}





.slidervertical {
  margin-top: 25px;
}

.blue {
--color: #08b2e3;
}

.yellow {
--color: #edae49;
}

.orange {
--color: #f18805;
}

.green {
--color: #76b041;
}

.brown {
--color: #916953;
}

.red {
--color: #e3655b;
}

.pink {
--color: #ec318c;
}



/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #CE0159;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: #AC121B;
  color: #fff;
  transition: all 0.5s;
}

.back-to-top i:hover {
  background: #7c0d14;
  color: #fff;
}

/*--------------------------------------------------------------
# Header-Menu
--------------------------------------------------------------*/

.outer-menu {
  
  z-index: 1;

}
.outer-menu .checkbox-toggle {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 60px;
  height: 60px;
  opacity: 0;
}
.outer-menu .checkbox-toggle:checked + .hamburger > div {
  transform: rotate(135deg);
  background: #303030;
}
.outer-menu .checkbox-toggle:checked + .hamburger > div:before,
.outer-menu .checkbox-toggle:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}
.outer-menu .checkbox-toggle:checked + .hamburger > div:after {
  opacity: 0;
}
.outer-menu .checkbox-toggle:checked ~ .menu {
  pointer-events: auto;
  visibility: visible;
}
.outer-menu .checkbox-toggle:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: 0.75s;
}
.outer-menu .checkbox-toggle:checked ~ .menu > div > div {
  width: 100vw;
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}
.outer-menu .checkbox-toggle:hover + .hamburger {
  box-shadow: none;
}
.outer-menu .checkbox-toggle:checked:hover + .hamburger > div {
  transform: rotate(225deg);
  
}
.outer-menu .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 0.5em 1em;
  
  border-radius: 0 0.12em 0.12em 0;
  cursor: pointer;
  transition: box-shadow 0.4s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.outer-menu .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: #ffffff;
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.outer-menu .hamburger > div.hambublack {
  
  background: #303030;
 
}

.outer-menu .hamburger > div.blackhambur {
  
  background: #303030;
 
}

.outer-menu .hamburger > div:before,
.outer-menu .hamburger > div:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background: inherit;
  transition: all 0.4s ease;
}
.outer-menu .hamburger > div:after {
  top: 10px;
}
.outer-menu .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  visibility: hidden;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  outline: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.outer-menu .menu > div {
  width: 200vw;
  height: 200vw;
  color: #FEFEFE;
  background: rgba(255, 255, 255, 1);
  border-radius: 50%;
  transition: all 0.4s ease;
  flex: none;
  transform: scale(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 
.outer-menu .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
  overflow-y: auto;
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.outer-menu .menu > div > div > ul {
  list-style: none;
  padding: 0 1em;
  margin: 0;
  display: block;
  max-height: 100vh;
}
.outer-menu .menu > div > div > ul > li {
  padding: 0;
  margin: 1em;
  font-size: 24px;
  display: block;
} */
.outer-menu .menu > div > div > ul > li > a {
  position: relative;
  display: inline;
  cursor: pointer;
  transition: color 0.4s ease;
}
.outer-menu .menu > div > div > ul > li > a:hover {
  color: #e5e5e5;
}
.outer-menu .menu > div > div > ul > li > a:hover:after {
  width: 100%;
}
.outer-menu .menu > div > div > ul > li > a:after {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: -0.15em;
  left: 0;
  width: 0;
  height: 2px;
  background: #e5e5e5;
  transition: width 0.4s ease;
}

.outer-menu .menu img {
  width: 120px;
display: block;
margin: auto;
height: 83px;

}

.outer-menu .menu h3 {
  padding: 4px 0;
  font-size: 16px;
    text-align: center;
    font-weight: normal;
    font-family: Verdana-Bold;
}

.back01 {
  background-color: #CE0359;
}

.back02 {
  background-color: #662D89;
}

.back03 {
  background-color: #F47F26;
}

.back04 {
  background-color: #24AD9E;
}

.back05 {
  background-color: #126A92;
}

.back06 {
  background-color: #495B6C;
}

.outer-menu .menu ul {
  list-style: none;
  padding-left: 10px;
  
}

.outer-menu .menu .conmenu {
  height: 580px;
  
}

.outer-menu .menu .conmenu {
 
  background-size: 0px;
  background-position: 50%;
  
  
}

.outer-menu .menu .menuback01:hover{
  background-image: url(../img/menu/backmen01.png);
  background-repeat: no-repeat;
  background-size: 230px;
  background-position: center 0px;
transition: background-size .5s;
  
}
.outer-menu .menu .menuback02:hover{
  background-image: url(../img/menu/backmen02.png);
  background-repeat: no-repeat;
  background-size: 230px;
  background-position: center 0px;
  transition: background-size .5s;
  
}
.outer-menu .menu .menuback03:hover{
  background-image: url(../img/menu/backmen03.png);
  background-repeat: no-repeat;
  background-size: 230px;
  background-position: center 0px;
  transition: background-size .5s;
  
}
.outer-menu .menu .menuback04:hover{
  background-image: url(../img/menu/backmen04.png);
  background-repeat: no-repeat;
  background-size: 230px;
  background-position: center 0px;
  transition: background-size .5s;
  
}
.outer-menu .menu .menuback05:hover{
  background-image: url(../img/menu/backmen05.png);
  background-repeat: no-repeat;
  background-size: 230px;
  background-position: center 0px;
  transition: background-size .5s;
  
}
.outer-menu .menu .menuback06:hover{
  background-image: url(../img/menu/backmen06.png);
  background-repeat: no-repeat;
  background-size: 230px;
  background-position: center 0px;
  transition: background-size .5s;
  
}




.outer-menu .menu .conmenu .centmarg50{
  margin: 50% auto;
  opacity: 0.5;
  
}

.outer-menu .menu .conmenu .centmarg50full{
 
  opacity: 1;
  
}




.outer-menu .menu #submenu1 {
  height: 30px;
  
}


.outer-menu .menu #submenu1 li {
  float: left;
  margin-left: 20px;
  
}

.outer-menu .menu #submenu2 {
  height: 30px;
  float: right;
}


.outer-menu .menu #submenu2 li {
  float: left;
  margin-left: 20px;
  
}

.outer-menu .menu ul li a {
  font-size: 14px;

  
}

.outer-menu .menu ul li a:hover {
  text-decoration: underline;
  color: #272727;
  
  
}



.navbar {
  position: absolute;
  z-index: 10001;
 
}

.navbar-fixed {
  position: fixed;
  height: 61px;
  width: 100%;
  display: block;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 7px 2px rgba(145,145,145,0.2); 
box-shadow: 0px 2px 7px 2px rgba(145,145,145,0.2);
 
}

.navbar-fixed .imglogo {
  
width: 145px;
float: right;
margin-right: 20px;

}




.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  color:#ffffff;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  overflow: visible;
}

.scroll-down .arrow {

position: relative;
top: -4px;
margin: 0 auto;
width: 20px;
height: 20px;
background-image: url(../img/home/downarrow.svg);
background-size: contain;

}
/*--------------------------------------------------------------
# HOME
--------------------------------------------------------------*/

#contsvg30 {

  position: absolute;
    z-index: 1000;
    left: 155px;
    top: 200px;
    
    width: 750px;

}


#section0 {
  background-image: url(../img/home/bg-slide1.png);
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
}

#section0 .contfull01 {
  
  position: relative;
    top: 110px;
    width: 100%;

}

#section0 .contfull01 h2 {
  font-family: Verdana-Bold;
    text-transform: uppercase;
    font-size: 24px;
    padding: 4px 16px;
    margin-bottom: 8px;
    display: inline-block;
    margin-left: 12%;
    color: #F47F26;
    letter-spacing: 20px;

}

#section0 .contfull01 p {
  
  text-transform: uppercase;
  font-size: 18px;
  padding: 4px 16px;
  margin-bottom: 8px;
  display: inline-block;
  margin-left: 11%;
  color: #ffffff;
  letter-spacing: 4px;

}

#section0 .contfull01 img {
  
 width: 200px;
 display: block;
 margin-top: 3%;
 margin-left: 3%;
  
}

#section1 {
  background-image: url(../img/home/bg-slide2.png);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

#section1 .rectancolor {

  width: 75px;
    height: 6px;
    margin-right: 5px;
    display: inline-block;
    background: #CE0159;
    position: relative;
    top: 65%;
 
}

#section1 .txttitles {
 display: inline-block;
  text-transform: uppercase;
  font-size: 18px;
  position: relative;
  top: 70%;
 
}

#section1 .imgnumbercha {
   width: 120px;
   display: block;
   position: relative;
   top: 70%;
  
 }



#section1 h2 {
  font-family: Verdana-Bold;
    text-transform: uppercase;
    font-size: 24px;
    padding: 4px 16px;
    margin-bottom: 8px;
    display: inline-block;
    letter-spacing: 5px;
    color: #ffffff;


}

#section1 .txtdescrip {
  
  margin-top: 10px;
  font-size: 16px;
  padding-right: 30px;
    
}

#section1 .btnhomesli {
  background: #ffffff;
  border-radius: 4px;
  border: 1px solid #CE0359;
  font-family: Verdana-Bold;
  font-size: 16px;
  padding-right: 30px;
  text-align: center;
  padding: 10px;
  color: #CE0359;
  margin-top: 25px;
  display: block;
  width: fit-content;
  letter-spacing: 2px;
    
}


#section1 .btnhomesli:hover {
  background: #CE0359;
  text-decoration: none;
  color: #ffffff;
  
    
}

#section1 p span{
  
color: #313131;
font-weight: 600;  

}



#section2 {
  background-image: url(../img/home/bg-slide3.png);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}


#section2 .rectancolor {

  width: 75px;
    height: 6px;
    margin-right: 5px;
    display: inline-block;
    background: #662D89;
    position: relative;
    top: 69%;
 
}

#section2 .txttitles {
 display: inline-block;
  text-transform: uppercase;
  font-size: 18px;
  position: relative;
  top: 70%;
 
}

#section2 .imgnumbercha {
   width: 120px;
   display: block;
   position: relative;
   top: 70%;
  
 }



#section2 h2 {
  font-family: Verdana-Bold;
    text-transform: uppercase;
    font-size: 24px;
    padding: 4px 16px;
    margin-bottom: 8px;
    display: inline-block;
    letter-spacing: 5px;
    color: #ffffff;


}

#section2 .txtdescrip {
  
  margin-top: 10px;
  font-size: 16px;
  padding-right: 30px;
    
}

#section2 .btnhomesli {
  background: #ffffff;
  border-radius: 4px;
  border: 1px solid #662D89;
  font-family: Verdana-Bold;
  font-size: 16px;
  padding-right: 30px;
  text-align: center;
  padding: 10px;
  color: #662D89;
  margin-top: 25px;
  display: block;
  width: fit-content;
  letter-spacing: 2px;
    
}


#section2 .btnhomesli:hover {
  background: #662D89;
  text-decoration: none;
  color: #ffffff;
  
    
}

#section2 p span{
  
color: #313131;
font-weight: 600;  

}


#section3 {
  background-image: url(../img/home/bg-slide4.png);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}


#section3 .rectancolor {

  width: 75px;
    height: 6px;
    margin-right: 5px;
    display: inline-block;
    background: #F47F26;
    position: relative;
    top: 65%;
 
}

#section3 .txttitles {
 display: inline-block;
  text-transform: uppercase;
  font-size: 18px;
  position: relative;
  top: 70%;
 
}

#section3 .imgnumbercha {
   width: 120px;
   display: block;
   position: relative;
   top: 70%;
  
 }



#section3 h2 {
  font-family: Verdana-Bold;
    text-transform: uppercase;
    font-size: 24px;
    padding: 4px 16px;
    margin-bottom: 8px;
    display: inline-block;
    letter-spacing: 5px;
    color: #ffffff;


}

#section3 .txtdescrip {
  
  margin-top: 10px;
  font-size: 16px;
  padding-right: 30px;
    
}

#section3 .btnhomesli {
  background: #ffffff;
  border-radius: 4px;
  border: 1px solid #F47F26;
  font-family: Verdana-Bold;
  font-size: 16px;
  padding-right: 30px;
  text-align: center;
  padding: 10px;
  color: #F47F26;
  margin-top: 25px;
  display: block;
  width: fit-content;
  letter-spacing: 2px;
    
}


#section3 .btnhomesli:hover {
  background: #F47F26;
  text-decoration: none;
  color: #ffffff;
  
    
}

#section3 p span{
  
color: #313131;
font-weight: 600;  

}


#section4 {
  background-image: url(../img/home/bg-slide5.png);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}


#section4 .rectancolor {

  width: 75px;
    height: 6px;
    margin-right: 5px;
    display: inline-block;
    background: #24AD9E;
    position: relative;
    top: 65%;
 
}

#section4 .txttitles {
 display: inline-block;
  text-transform: uppercase;
  font-size: 18px;
  position: relative;
  top: 70%;
 
}

#section4 .imgnumbercha {
   width: 120px;
   display: block;
   position: relative;
   top: 70%;
  
 }



#section4 h2 {
  font-family: Verdana-Bold;
    text-transform: uppercase;
    font-size: 24px;
    padding: 4px 16px;
    margin-bottom: 8px;
    display: inline-block;
    letter-spacing: 5px;
    color: #ffffff;


}

#section4 .txtdescrip {
  
  margin-top: 10px;
  font-size: 16px;
  padding-right: 30px;
    
}

#section4 .btnhomesli {
  background: #ffffff;
  border-radius: 4px;
  border: 1px solid #24AD9E;
  font-family: Verdana-Bold;
  font-size: 16px;
  padding-right: 30px;
  text-align: center;
  padding: 10px;
  color: #24AD9E;
  margin-top: 25px;
  display: block;
  width: fit-content;
  letter-spacing: 2px;
    
}


#section4 .btnhomesli:hover {
  background: #24AD9E;
  text-decoration: none;
  color: #ffffff;
  
    
}

#section4 p span{
  
color: #313131;
font-weight: 600;  

}


#section5 {
  background-image: url(../img/home/bg-slide6.png);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}


#section5 .rectancolor {

  width: 75px;
    height: 6px;
    margin-right: 5px;
    display: inline-block;
    background: #126A92;
    position: relative;
    top: 69%;
 
}

#section5 .txttitles {
 display: inline-block;
  text-transform: uppercase;
  font-size: 18px;
  position: relative;
  top: 70%;
 
}

#section5 .imgnumbercha {
   width: 120px;
   display: block;
   position: relative;
   top: 70%;
  
 }



#section5 h2 {
  font-family: Verdana-Bold;
    text-transform: uppercase;
    font-size: 24px;
    padding: 4px 16px;
    margin-bottom: 8px;
    display: inline-block;
    letter-spacing: 5px;
    color: #ffffff;


}

#section5 .txtdescrip {
  
  margin-top: 10px;
  font-size: 16px;
  padding-right: 30px;
    
}

#section5 .btnhomesli {
  background: #ffffff;
  border-radius: 4px;
  border: 1px solid #126A92;
  font-family: Verdana-Bold;
  font-size: 16px;
  padding-right: 30px;
  text-align: center;
  padding: 10px;
  color: #126A92;
  margin-top: 25px;
  display: block;
  width: fit-content;
  letter-spacing: 2px;
    
}


#section5 .btnhomesli:hover {
  background: #126A92;
  text-decoration: none;
  color: #ffffff;
  
    
}

#section5 p span{
  
color: #313131;
font-weight: 600;  

}


#section6 {
  background-image: url(../img/home/bg-slide7.png);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}


#section6 .rectancolor {

  width: 75px;
    height: 6px;
    margin-right: 5px;
    display: inline-block;
    background: #495B6C;
    position: relative;
    top: 65%;
 
}

#section6 .txttitles {
 display: inline-block;
  text-transform: uppercase;
  font-size: 18px;
  position: relative;
  top: 70%;
 
}

#section6 .imgnumbercha {
   width: 120px;
   display: block;
   position: relative;
   top: 70%;
  
 }



#section6 h2 {
  font-family: Verdana-Bold;
    text-transform: uppercase;
    font-size: 24px;
    padding: 4px 16px;
    margin-bottom: 8px;
    display: inline-block;
    letter-spacing: 5px;
    color: #ffffff;


}

#section6 .txtdescrip {
  
  margin-top: 10px;
  font-size: 16px;
  padding-right: 30px;
    
}

#section6 .btnhomesli {
  background: #ffffff;
  border-radius: 4px;
  border: 1px solid #495B6C;
  font-family: Verdana-Bold;
  font-size: 16px;
  padding-right: 30px;
  text-align: center;
  padding: 10px;
  color: #495B6C;
  margin-top: 25px;
  display: block;
  width: fit-content;
  letter-spacing: 2px;
    
}


#section6 .btnhomesli:hover {
  background: #495B6C;
  text-decoration: none;
  color: #ffffff;
  
    
}

#section6 p span{
  
color: #313131;
font-weight: 600;  

}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #3C4650;
  width: 100%;
}
#footer p{
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  margin: 0 0 8px 0;
  padding: 0;
}
#footer p:last-of-type{
  margin: 0;
}
#footer a{
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  margin-bottom:16px;
  padding: 0;
  text-decoration: none;
  display: inline-block;
}
.footercontent{
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.footercontent__item{
  margin-bottom: 20px;
}
.footer__rrss{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 16px;
}
.footer__rrss a{
  display: inline-block;
  margin-right: 24px;
}
.footer__divider{
  display: none;
}



/*--------------------------------------------------------------
# MOBILE
--------------------------------------------------------------*/

#nuestro_enfoque_social_1{
  background: url('../img/nuestro-enfoque-social/nuestro-enfoque-social-1.jpg') no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
}
.banner__category{
  position: absolute;
  top: 60px;
  left: 20px;
  width: 14px;
  height: 480px;
}
.banner__rectangle{
  width: 14px;
  height: 66px;
  position: absolute;
  top: 0;
  left: 0;
}
.banner__category-text{
  transform: rotate(-90deg);
  width: 100%;
  height: 14px;
  margin-top: 80px;
  position: relative;
}
.banner__category-text p{
  text-transform: uppercase;
  text-align: left;
  transform-origin: left;
  white-space: nowrap;
  letter-spacing: 2px;
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0px;
  right: 0px;
}
.banner__text{
  position: absolute;
  bottom: 13%;
  right: 20px;
  width: 80%;
}
.banner__text h1{
  color: #ffffff;
  font-family: Verdana-Bold;
  text-transform: uppercase;
  display: block;
  width: 100%;
  padding-left: 17px;
}
.banner__text h2 span{
  color: #ffffff;
  font-family: Verdana-Bold;
  text-transform: uppercase;
  font-size: 24px;
  padding: 4px 16px;
  margin-bottom: 8px;
  display: inline-block;
}
.banner__text p{
  color: #ffffff;
  padding-left: 17px;
}


/*********************************************************************
carta-presidentes-1     Alberto
*********************************************************************/

.president-name{
  font-size: 18px;
  line-height: 18px;
  margin: 0;
  padding: 0;
}
.president-position{
  font-size: 14px;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

/*********************************************************************
quienes-somos-2     Alberto
*********************************************************************/

#quienes-somos-1 {
  padding-top: 85px !important;
}

.featured{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 32px 0;
}
.featured__item{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.featured__item:last-of-type{
  margin-bottom: 0;
}
.featured__image{
  width: 25%;
}
.featured__text{
  width: 70%;
  border-bottom: 1px solid #e20177;
  border-top: 1px solid #e20177;
  padding: 16px 0;
}
.featured__text p{
  font-size: 18px;
  line-height: 18px;
  font-family: Verdana-Bold;
  color: #e20177;
}
.featured__text p:last-of-type{
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.5;
  font-family: Verdana-Regular;
  color: #606064;
}

/* TABLET PORTRAIT*/
@media screen and (min-width: 767px){
  .banner__text{
    width: 60%;
    right: 80px;
  }
}

/* DESKTOP */
@media screen and (min-width: 1279px){
  .banner__text{
    width: 36%;
    right: 160px;
  }
  .footercontent{
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .footercontent__item{
    width: 32%;
  }
  .footercontent__item:last-of-type{
    width: 20%;
  }
  .footer__divider{
    background: url(../svg/footer-divider.svg) no-repeat;
    background-size: 3px 120px;
    display: block;
    width: 3px;
    height: 120px;
  }
}


@media screen and (min-width: 1439px){
  .banner__text{
    width: 24%;
    right: 160px;
  }
}
